{% extends "base.html" %}

{% block title %}Listing all movies by {{ name }}{% endblock %}

{% block heading %}Movies by decade: {{ name }}{% endblock %}

{% block subtitle %}{% endblock %}

{% block body %}


{% if movies %}

  {% for decade,value in movies %}

    <div class="jumbotron my-5 py-5 text-center">
      <h1 class="display-4 py-5">{{ decade }}</h1>
    </div>

    {% for movie in value %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-3 py-3">

          {% if movie.poster_path%}
            <img src="{{ movie.custom_image_path }}" />

            {% else %}

            <div style="display: flex; align-items: center; justify-content: center; height: 286px; width: 183px; background-color: #eee; border: 1px solid #ddd; color: #aaa"><span>No poster :(</span></div>
          {% endif %}

        </div>

        <div class="col-md-9 py-3">
          <h3>{{ movie.title }}</h3>
          <p>ID: {{ movie.id }}</p>
          <p>Release date: {{ movie.release_date }}</p>
          <p>{{ movie.overview }}</p>
        </div>

      </div>
    </div>
    {% endfor %}

  {% endfor %}

{% else %}
  <div class="jumbotron my-5 py-5 text-center">
    <h1 class="display-4 py-5">No results :(</h1>
  </div>
{% endif %}

{% endblock %}
