<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  
  <nav>
    <a href="/">Home</a>
  </nav>

  <div class="text-center py-5">
    <h1 class="display-4">{% block heading %}{% endblock %}</h1>
    {% block subtitle %}
      <p class="lead">{% block subtitleContent %}{% endblock %}</p>
    {% endblock %}
  </div>

  <div class="container">
    <div class="row justify-content-center">

      <form class="col-8 pb-5" method="get" action="/actors/list">
        <div class="input-group input-group-lg">
          <input type="text" name="name" class="form-control" placeholder="Search actor name..." aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{ name }}">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Go!</button>
          </div>
        </div>  
      </form>

    </div>
  </div>

  {% block body %}
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>